@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Open+Sans:wght@300&family=Roboto&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
}
body div{
    margin: 20px 0;
}
select{
    padding: 10px 7px;
    border-radius: 4px;
    margin-left: 10px;
}